/*
  __  __   _           _                     
 |  \/  | (_)         (_)                    
 | \  / |  _   _ __    _   _ __ ___     __ _ 
 | |\/| | | | | '_ \  | | | '_ ` _ \   / _` |
 | |  | | | | | | | | | | | | | | | | | (_| |
 |_|  |_| |_| |_| |_| |_| |_| |_| |_|  \__,_|
                                            

*/


/* User changable variables */

:root {
	--tab-font-size: 0.8em;
	/* Font size of the tab labels */
	--tab-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	/* The font used for the tab labels */
	--max-tab-width: none;
	/* The maximum width a tab in the tab bar can use. Set this to none for no limit */
	--show-titlebar-buttons: none;
	/* Hide the buttons (close/minimize/maximize) in the title bar. Required on some platforms (e.g macOS) to fully hide the title bar. `none` hides them, `block` shows them */
	--tab-height: 20px;
}

/* Minima Source Code. Here be dragons. */
/* Only change this if you know what you're doing */

tab[muted] .tab-label::before {
	background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
	background-size: 100% 100%;
	display: inline-block;
	min-width: 12px;
	width: var(--tab-font-size);
	height: auto;
	content: "\00a0";
	position: relative;
	-moz-context-properties: fill, fill-opacity, stroke;
	fill: currentColor;
	stroke: transparent;
	margin-right: 0.2em;
}

tab:hover[muted] .tab-label::before {
	display: none;
}

.titlebar-buttonbox-container {
	display: var(--show-titlebar-buttons);
}

:root:not([customizing]) #TabsToolbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
	border-radius: 0 !important;
	padding: 0 !important;
}

.tabbrowser-tab * {
	margin: 0 !important;
	border-radius: 0 !important;
	font-family: var(--tab-font-family) !important;
}

.tabbrowser-tab {
	height: var(--tab-height);
	font-size: var(--tab-font-size) !important;
	min-height: 0 !important;
	align-items: center !important;
	margin-bottom: 5px !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: var(--max-tab-width) !important;
}

.tab-close-button,
.new-tab-button,
#firefox-view-button,
#scrollbutton-up,
.tab-secondary-label {
	display: none !important;
}

.tab-icon-image {
	height: auto !important;
	width: calc(var(--tab-height) / 1.5) !important;
	margin-right: 4px !important;
}

#tabs-newtab-button,
#titlebar spacer,
#alltabs-button, #scrollbutton-down, #new-tab-button {
	display: none !important;
}

:root:not([customizing]) #nav-bar,
:root:not([customizing]) #urlbar[popover] {
	pointer-events: none;
	margin: 0 0 -40px !important;
	opacity: 0 !important;
}

:root:not([customizing]) #nav-bar:focus-within,
:root:not([customizing]) #urlbar[popover]:focus-within,
:root:not([customizing]) #nav-bar:has(#urlbar[popover]:focus-within),
:root:not([customizing]) #nav-bar:focus-within #urlbar[popover] {
	pointer-events: auto;
	margin: 0 0 auto !important;
	opacity: 1 !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Optionally use privatemode_indicator_as_menu_button.css to replace main menu icon with private browsing indicator while tabs are hidden. */
/* Firefox 65+ only */

:root[sizemode="normal"] #nav-bar {
	--uc-window-drag-space-width: 20px
}

#titlebar {
	-moz-appearance: none !important;
}

#TabsToolbar {
	min-height: 0px !important
}

#tabbrowser-tabs,
#tabbrowser-tabs>.tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox {
	min-height: 0 !important;
}

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target>.toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button {
	-moz-appearance: none !important;
	height: 0px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	-moz-box-align: stretch;
	margin: 0 !important;
}

.accessibility-indicator,
.private-browsing-indicator {
	height: unset !important;
}

.accessibility-indicator>hbox {
	padding-block: 0 !important
}

#tabbrowser-tabs tab:only-of-type {
	visibility: collapse !important;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover {
	background-color: var(--toolbarbutton-hover-background)
}

#tabs-newtab-button>.toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button>.toolbarbutton-icon {
	padding: 0 !important;
	transform: scale(0.6);
	background-color: transparent !important;
}

/* Extra top padding  in maximized window */
@media (-moz-os-version: windows-win10) {
	:root[sizemode="maximized"] #navigator-toolbox {
		padding-top: 7px !important;
	}
}

/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive] {
	transition: height 0ms steps(1) 80ms;
}

#nav-bar {
	border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}

#navigator-toolbox {
	appearance: toolbar !important;
	/* Pretty much anything except none */
}
